.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: var(--padding);
}

@media (width <= 1024px) {
  .main {
    padding: 0px 0px 0px 40px;
  }
}

@media (width <= 470px) {
  .main {
    margin: 0px 0px 120px 0px;
    padding: 0px 0px 0px 0px;
  }
}
