.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 530px;
  min-width: 300px;
  background-color: #000000e5;
  border-radius: 25px;
  border: 5px solid #6bd1ff;
  background-color: transparent;
}

.Card > img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  z-index: -1;
}

.CardInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-top: 5px solid #6bd1ff;
  padding: 10px 0px;
}

.CardSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.CardSection > img {
  width: 20px;
}

.CardSection > p {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

@media (width <= 470px) {
  .Card:first-child {
    margin: 0px 0px 0px 10px;
  }

  .Card:last-child {
    margin: 0px 10px 0px 0px;
  }
}
