@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --padding: 0px 40px;
  --color-front: #6bd1ff;
  --color-back: #00c86f;
  --color-innovación-gestión: #ffba05;
  --color-azul: #2271d1;
}

body {
  background-color: #000000e5;
}
